<div id="<%= dom_id assignment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= assignment.user_id_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= assignment.project_id_id %>
  </p>
</div>
