<%= turbo_frame_tag "#{dom_id(project)}_load_more", src: load_more_comments_project_path(id: project.id, offset: next_offset, format: :turbo_stream), loading: "lazy" do %>
    <div class="animate-pulse w-1/12 mt-6">
    <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
    <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
    <div class="p-2 w-full bg-gray-500 mb-2 rounded-md"></div>
    </div>
<% end %>